services:
  - type: web
    name: scientific-calculator-api
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn server:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: "False"
      - key: PORT
        value: "8000"
    domains:
      - scientific-calculator-api.onrender.com
